<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Finalidades de Doações
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="/ecommerce/admin/categories">Finalidades de Doações</a></li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
              
              <div class="box-header">
                <a routerLink="create" class="btn btn-success">Cadastrar Finalidade de Doação</a>
              </div>
  
              <div class="box-body no-padding">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Título</th>
                      <th style="width: 140px">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dp of donationsPurposes; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{dp.title}}</td>
                      <td>
                        <a href="/ecommerce/admin/categories/{$value.idcategory}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                        <a (click)="deleteDonationPurpose(dp.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
      </div>
    </div>
  
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
