<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Nova Finalidade
    </h1>
    <ol class="breadcrumb">
      <li><a href="/ecommerce/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/ecommerce/admin/categories">Categorias</a></li>
      <li class="active"><a href="/ecommerce/admin/categories/create">Cadastrar</a></li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
  
    <div class="row">
      <div class="col-md-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Nova Finalidade</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form #donationPurposeCreateForm="ngForm"(ngSubmit)="createDonationPurpose(donationPurposeCreateForm)" novalidate> 
            
            <div class="box-body">
              
              <div class="form-group">
                <label for="dp_title">Título</label>
                <input type="text" class="form-control" id="dp_title" [(ngModel)]="dp_title" name="dp_title" placeholder="Ex. Doação para o projeto SysDonation..." (keyup)="generateSlug()"
                ngModel>
              </div>

              <div class="form-group">
                <label for="dp_slug">URL</label>
                <input type="text" class="form-control" id="dp_slug" [(ngModel)]="dp_slug" name="dp_slug" placeholder="slug..." ngModel>
              </div>

              <div class="form-group">
                <label for="dp_html_content">Conteúdo</label>
                <ck-editor name="dp_html_content" [(ngModel)]="dp_html_content" skin="moono-lisa" language="br" [fullPage]="true"></ck-editor>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->