<div class="wrapper hold-transition register-page">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="register-box">
  <div class="register-logo">
    <a routerLink="#"><b>Sys</b>Donation</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Faça seu cadastro</p>
  
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)"> 
      <!--Name field-->
      <div class="form-group has-feedback" [ngClass]="{'has-error':username.errors && registerForm.submitted}">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Nome Completo" 
          name="name" 
          #username="ngModel"
          [(ngModel)]="user.name"
          minlength="4"
          required
        >

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && username.invalid" class="help-block">
            <div *ngIf="username.errors.required">O campo nome é obrigatório
            </div>
            <div *ngIf="username.errors.minlength">O campo nome deve ter no mínimo 4 letras</div>
        </div>

        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <!--Email field-->
      <div class="form-group has-feedback" [ngClass]="{'has-error':useremail.errors && registerForm.submitted}">
        <input 
        type="email" 
        class="form-control" 
        placeholder="Email" 
        name="email" 
        #useremail="ngModel"
        [(ngModel)]="user.email"
        [pattern]="emailPattern"
        required>

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && useremail.invalid" class="help-block">
          <div *ngIf="useremail.errors.required">O campo email é obrigatório
          </div>
          <div *ngIf="useremail.errors.pattern">Esse email parece inválido</div>
      </div>

        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <!--Phone field-->
      <div class="form-group has-feedback" [ngClass]="{'has-error':userphone.errors && registerForm.submitted}">
        <input 
        type="text" 
        class="form-control" 
        placeholder="Telefone (Opcional)" 
        name="phone" 
        #userphone="ngModel"
        [(ngModel)]="user.phone"
        [pattern]="phonePattern">

          <!--Help block erros-->
        <div *ngIf="registerForm.submitted && userphone.invalid" class="help-block">
            <div *ngIf="userphone.errors.pattern">Esse telefone parece inválido</div>
        </div>

        <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
      </div>

      <!-- Address -->
      <div class="form-group has-feedback" [ngClass]="{'has-error':useraddress.errors && registerForm.submitted}">
        <input 
        type="text" 
        class="form-control" 
        placeholder="Endereço" 
        name="address" 
        #useraddress="ngModel"
        [(ngModel)]="user.address"
        required
        >

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && useraddress.invalid" class="help-block">
          <div *ngIf="useraddress.errors.required">O campo endereço é obrigatório
          </div>
      </div>

        <span class="glyphicon glyphicon-home form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Site (opcional)" name="site" ngModel>
        <span class="glyphicon glyphicon-globe form-control-feedback"></span>
      </div>

      <!-- CPF -->
      <div class="form-group has-feedback" [ngClass]="{'has-error':usercpf.errors && registerForm.submitted}">
        <input 
        type="text" 
        class="form-control" 
        placeholder="CPF" 
        name="cpf"
        #usercpf="ngModel"
        [(ngModel)]="user.cpf"
        pattern="^([0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}|[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2})$" 
        required
        >

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && usercpf.invalid" class="help-block">
          <div *ngIf="usercpf.errors.required">O campo CPF é obrigatório
          </div>
          <div *ngIf="usercpf.errors.pattern">Esse CPF parece inválido</div>
      </div>

        <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
      </div>

      <hr>

      <!-- Login -->
      <div class="form-group has-feedback" [ngClass]="{'has-error':userlogin.errors && registerForm.submitted}">
        <input 
        type="text" 
        class="form-control" 
        placeholder="Login" 
        name="login" 
        #userlogin="ngModel"
        [(ngModel)]="user.login"
        [pattern]="loginPattern" 
        required>

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && userlogin.invalid" class="help-block">
          <div *ngIf="userlogin.errors.required">O campo login é obrigatório
          </div>
          <div *ngIf="userlogin.errors.pattern">Esse login parece inválido</div>
      </div>

        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      
      <!-- Password -->
      <div class="form-group has-feedback" [ngClass]="{'has-error':(userpassword.errors || passwords_not_match) && registerForm.submitted}">
        <input 
        type="password" 
        class="form-control" 
        placeholder="Senha" 
        name="password"
        #userpassword="ngModel"
        [(ngModel)]="password"
        minlength="6"
        required 
        >

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && userpassword.invalid" class="help-block">
          <div *ngIf="userpassword.errors.required">O campo senha é obrigatório
          </div>
          <div *ngIf="userpassword.errors.minlength">O campo senha deve ter no mínimo 6 caracteres</div>
        </div>

        <div *ngIf="registerForm.submitted && passwords_not_match" class="help-block">
          <div>A senha e a confirmação de senha são diferentes</div>
        </div>

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <!-- Password Retyped-->
      <div class="form-group has-feedback" [ngClass]="{'has-error':(passwordretyped.errors  || passwords_not_match) && registerForm.submitted}">
        <input 
        type="password" 
        class="form-control" 
        placeholder="Confirme a senha" 
        name="retyped_password"
        #passwordretyped="ngModel"
        [(ngModel)]="password_retyped" 
        minlength="6"
        required 
        >

        <!--Help block erros-->
        <div *ngIf="registerForm.submitted && passwordretyped.invalid" class="help-block">
          <div *ngIf="passwordretyped.errors.required">A confirmação da senha é obrigatório
          </div>
          <div *ngIf="passwordretyped.errors.minlength">A confirmação da senha deve ter no mínimo 6 caracteres</div>
        </div>

        <div *ngIf="registerForm.submitted && passwords_not_match" class="help-block">
          <div>A senha e a confirmação de senha são diferentes</div>
        </div>

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Eu aceito os <a href="#">Termos de uso</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastre-se</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>
    -->

    <a routerLink="/signin" routerLinkActive="active">Eu já tenho cadastro</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
</div>

